@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrol bar */
::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: theme('colors.background');
  border-radius: theme('borderRadius.sm');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.slate.500');
  border-radius: theme('borderRadius.sm');
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.slate.500 / 75%');
}
